@import "tailwindcss";

/* stylelint-disable property-no-unknown */
@plugin "daisyui" {
  styled: true;
  themes: light;
  base: true;
  utils: true;
  logs: false;
  rtl: false;
  prefix: "";
}
/* stylelint-enable property-no-unknown */

@theme {
  --height-screen-fill: -webkit-fill-available;
}

@layer base {
  html,
  body {
    @apply overscroll-none md:overscroll-x-auto;
  }
}
