@import "tailwindcss";

/* stylelint-disable property-no-unknown */
@plugin "daisyui" {
  themes: light;
}
/* stylelint-enable property-no-unknown */

@theme {
  --height-screen-fill: -webkit-fill-available;
}

@layer base {
  html,
  body {
    @apply overscroll-none md:overscroll-x-auto;
  }
}
